*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
    
}


.content{
    display: grid;
    grid-template-columns: auto 3fr;
    grid-template-rows: 1fr 4fr;
    background-color: rgb(233, 233, 233);
}

.sidebar{
    background-color: rgb(0, 162, 255);
    grid-row: 1/3;
    
}

.header{
    background-color: white;
    grid-column: 2/3;
    box-shadow: 0 10px 12px 0px #ccc7c7;
}

.main-content{

    grid-row: 2/3;
    
}

.sidebar-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    color: white;
    height: 80%;
    margin-left: 20px;
    row-gap: 10%;
    margin-top: 10px;
}

.dashboard-title{
    /* display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    justify-items: start; */
    display: flex;

}

.dashboard-title svg{
    width: 50px;
    height: auto;
    fill: white;
    display: flex;
    display: flex;
    align-items: center;
}

.dashboard-title .logo{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;    
}

ul,li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-items-first ul{
    display: grid;
    grid-template-rows:repeat(6,auto) ;
    font-size: 20px;
    align-content: start;
    gap: 20px;
    padding-left: 12px;
}

.sidebar-items-second ul{
    display: grid;
    grid-template-rows:repeat(3,auto) ;
    font-size: 20px;
    gap:5px;
    align-content: start;
    gap: 20px;
    padding-left: 12px;
}

.sidebar-items-first svg,
.sidebar-items-second svg{
    fill: white;
    width: 25px;
    height: 25px;
}

.sidebar-items-first li,
.sidebar-items-second li
{
    display: grid;
    grid-template-columns:1fr 10fr;
    gap:20px;
}

.header-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 40px;
    margin-right: 40px;

}

.top-header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}

.top-header-left{
    display: grid;
    grid-template-columns: 25px 90%;
    gap:20px;
    align-items: center;

}

.top-header-left svg,
.top-header-right svg{
    width: 25px;
    height: 25px;
}
.top-header-left input{
    height: 30px;
    width: 100%;
    background-color: rgb(233, 233, 233);
    border-style: none;
    border-radius: 20px;
}


.top-header-right{
display: flex;
justify-content: end;
align-items: center;
gap:15px;
}


.cato{
    border: solid pink 3px;
    width: 50px;
    height: auto;
    border-radius: 100%;
}

.name{
    font-weight: bold;
    display: flex;
    align-items: center;
}

.bottom-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
     
    
}

.bottom-header .cato{
    width: 70px;
}

.firtLine{
    display: flex;
    align-items: center;
}

.bottom-header-left{
    display: flex;
    gap:15px;
    align-items: center;
}

.secondLine{
    font-weight: bold;
    font-size: 20px;
    display: flex;
}


.greating{
    display: flex;
    flex-direction: column;
}

.bottom-header-right{
    display: flex;
    justify-content: end;
    align-items: center;
    gap:15px;
}

.bottom-header-right button{
    border-style: none;
    background-color: rgb(0, 162, 255);
    width: 100px;
    height: 40px;
    border-radius: 60px;
    color:white;
    font-weight: bold;
}

.main-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(233, 233, 233);
    padding: 30px;
}

.main-left{
    display: grid;
    grid-template-rows: 30px 1fr;
   
    
}

.section{
    font-size: large;
    font-weight: bold;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr)); 
    align-content: start;
    gap:20px;

    
}

.article{
    width: 250px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    border-left:solid 8px orange;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    padding: 10px;
}

.article-title{
    font-size: 17px;
    font-weight: bold;

}

.article svg{
    width: 25px;
    height: 25px;
}

.icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: end;
    gap:15px;
}